<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="generalLog" xsi:type="File" fileName="logs/${shortdate}/general.log" layout="${longdate} [${level}] ${message}" createDirs="true" />
    <target name="deviceLog" xsi:type="File" fileName="logs/${shortdate}/${event-properties:DeviceId}.log" layout="${longdate} [${level}] ${message}" createDirs="true" />
    <target name="fileProcessingLog" xsi:type="File" fileName="logs/${shortdate}/FileProcessing.log" layout="${longdate} [${level}] ${message}" createDirs="true" />
    <target name="debugOutput" xsi:type="OutputDebugString" layout="${longdate} [${level}] ${message}" />
    <!-- Console target - Enable/Disable for development -->
    <target name="console" xsi:type="Console" layout="${longdate} [${level:uppercase=true}] ${message}" encoding="utf-8" />
  </targets>
  <rules>
    <!-- GeneralLogger ghi vào file + debug output + console (khi cần) -->
    <logger name="GeneralLogger" minlevel="Trace" writeTo="generalLog,debugOutput" />
    <!-- Bỏ comment dòng dưới để enable console logging -->
    <!-- <logger name="GeneralLogger" minlevel="Trace" writeTo="generalLog,debugOutput,console" /> -->

    <logger name="DeviceLogger" minlevel="Trace" writeTo="deviceLog" />
    <logger name="FileProcessingLogger" minlevel="Trace" writeTo="fileProcessingLog" />
  </rules>
</nlog>
